USE [master]
GO
/****** Object:  Database [HelpDesk]    Script Date: 24.10.2025 2:10:48 ******/
CREATE DATABASE [HelpDesk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HelpDesk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HelpDesk.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HelpDesk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HelpDesk_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HelpDesk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HelpDesk]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[itrole] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[categories_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE view [dbo].[categories_info]
as
select id, name, itrole, CASE itrole WHEN 'admin' THEN 'Сисадмин' WHEN 'progr' THEN 'Программист' WHEN 'boss' THEN 'Руководитель' WHEN 'superadmin' THEN 'Администратор системы' ELSE '---' end as itrole_name  from categories;
GO
/****** Object:  Table [dbo].[users]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employeeguid] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[pass] [nvarchar](100) NOT NULL,
	[itrole] [nvarchar](30) NULL,
	[blocking] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statuses]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urgencies]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urgencies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itroles]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itroles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idrole] [nvarchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guid] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[account] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pcname] [nvarchar](50) NOT NULL,
	[account] [nvarchar](50) NULL,
	[employeename] [nvarchar](100) NULL,
	[urgency] [int] NULL,
	[message] [nvarchar](1000) NULL,
	[screenshot] [varbinary](max) NULL,
	[finalstatus] [int] NULL,
	[requestsolving] [nvarchar](100) NULL,
	[idpreviosrequest] [int] NULL,
	[dt] [datetime] NULL,
	[itrole] [nchar](30) NULL,
	[topic] [nvarchar](50) NULL,
	[deadline] [datetime] NULL,
	[idcategory] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proc_request]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proc_request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idrequest] [int] NOT NULL,
	[iduser] [int] NULL,
	[dt] [datetime] NOT NULL,
	[description] [nvarchar](1000) NULL,
	[status] [int] NULL,
	[itrole] [nvarchar](30) NULL,
	[IsNew] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[request_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE view [dbo].[request_info]
as
SELECT request.[id], [pcname],request.[account],employees.name as  employeename ,[urgency] ,[message] ,[screenshot] ,[finalstatus],[requestsolving] ,[idpreviosrequest] ,[dt]
      ,request.[itrole],[topic],[deadline], idcategory, categories.name as idcategory_name,
(select top 1 iduser from proc_request where proc_request.idrequest=request.id order by dt desc) iduser_proc, 
(select top 1 itrole from proc_request where proc_request.idrequest=request.id order by dt desc) itrole_proc, 
(select top 1 dt from proc_request where proc_request.idrequest=request.id order by dt desc) dt_proc, 
(select top 1 [description] from proc_request where proc_request.idrequest=request.id order by dt desc) description_proc , 
(select top 1 [status] from proc_request where proc_request.idrequest=request.id order by dt desc) status_proc  

FROM request 
left join categories on (categories.id=request.idcategory)
left join employees on (employees.account=request.account)
;
GO
/****** Object:  Table [dbo].[subdivisions]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subdivisions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guid] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[guidparent] [nvarchar](50) NULL,
	[kod] [nchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guid] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_position]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_position](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guidemployee] [nvarchar](50) NOT NULL,
	[guidjob] [nvarchar](50) NOT NULL,
	[guidsubdivision] [nvarchar](50) NOT NULL,
	[ondate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[employee_position_last]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  View [dbo].[request_proc_info]    Script Date: 10.08.2025 14:16:18 ******/


CREATE view [dbo].[employee_position_last]
as
SELECT  [guidemployee],max(ondate) as ondate
	FROM [dbo].[employee_position]

group by guidemployee
;



GO
/****** Object:  View [dbo].[full_employee_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE view [dbo].[full_employee_info]
as
select employee_position_last.guidemployee,employee_position.guidjob,employee_position.guidsubdivision,
employees.id as idemployee,
employees.account as account,
employees.name as employee_name, jobs.name as job_name, subdivisions.name as subdivision_name
from [dbo].[employee_position_last] 
left join [employee_position] on (employee_position_last.guidemployee = employee_position.guidemployee and 
employee_position_last.ondate = employee_position.ondate)
left join jobs on  (employee_position.guidjob = jobs.guid)
left join [subdivisions] on  (employee_position.[guidsubdivision] = [dbo].[subdivisions].[guid])
left join [dbo].[employees] on  (employee_position.guidemployee = [dbo].employees.[guid])
;
GO
/****** Object:  Table [dbo].[PC]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PC](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pcname] [nvarchar](50) NOT NULL,
	[cabinet] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PC_composition]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PC_composition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idpc] [int] NOT NULL,
	[typename] [nvarchar](100) NULL,
	[modelname] [nvarchar](100) NULL,
	[cnt] [int] NULL,
	[shortdescription] [nvarchar](200) NULL,
	[fulldescription] [nvarchar](max) NULL,
	[dt] [datetime] NULL,
	[ord] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[PC_composition_last]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  View [dbo].[request_proc_info]    Script Date: 10.08.2025 14:16:18 ******/


CREATE view [dbo].[PC_composition_last]
as
select idpc, typename, max(dt) as dt from PC_composition group by idpc, typename 
;



GO
/****** Object:  View [dbo].[PC_composition_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/****** Object:  View [dbo].[request_proc_info]    Script Date: 10.08.2025 14:16:18 ******/


CREATE view [dbo].[PC_composition_info]
as
select PC_composition_last.idpc, PC.pcname, PC.cabinet, PC_composition.typename, PC_composition.modelname, PC_composition.ord, PC_composition.cnt, PC_composition.fulldescription, PC_composition.dt from PC_composition_last 
left join PC_composition on (PC_composition.idpc=PC_composition_last.idpc and PC_composition.typename=PC_composition_last.typename and PC_composition.dt=PC_composition_last.dt)
left join PC on PC_composition_last.idpc=PC.id
;



GO
/****** Object:  View [dbo].[PC_composition_info_order]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/****** Object:  View [dbo].[request_proc_info]    Script Date: 10.08.2025 14:16:18 ******/


CREATE view [dbo].[PC_composition_info_order]
as
select top (10000) idpc, pcname, [cabinet],  typename+': '+ modelname as typemodelname, typename, modelname, [cnt], [fulldescription], [dt] from PC_composition_info

order by 
    idpc,ord

;



GO
/****** Object:  View [dbo].[PC_composition_info_short]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/****** Object:  View [dbo].[request_proc_info]    Script Date: 10.08.2025 14:16:18 ******/


CREATE view [dbo].[PC_composition_info_short]
as
select idpc, pcname, STRING_AGG(typename, '$$$') as lst_typename, STRING_AGG(modelname, '$$$') as lst_modelname, STRING_AGG(typemodelname, '$$$') as lst_typemodelname from PC_composition_info_order
group by 
    idpc,pcname

;



GO
/****** Object:  View [dbo].[full_request_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE view [dbo].[full_request_info]
as
SELECT  [request_info].[id] as id
      ,request_info.[pcname],[idpc],[lst_typename],[lst_modelname], lst_typemodelname
      ,request_info.[account] as account
      ,[employeename]
      ,urgencies.name  AS urgency_name
	  ,urgency
      ,[message]
      ,[screenshot]
      ,[finalstatus]
      ,[requestsolving]
      ,[idpreviosrequest]
      ,[dt]
      ,request_info.itrole
      ,[topic]
      ,[deadline]
      ,[iduser_proc]
	  ,itroles.name as itrole_proc_name
	  ,itrole_proc
      ,[dt_proc], [idcategory], idcategory_name
      ,[description_proc]	  
	  ,status_proc,  job_name, subdivision_name
	  ,statuses.name as status_proc_name
	  , users.name as name_users,users.itrole as role_users,users.employeeguid as employeeguid_users,users.blocking as blocking_users,
	  full_employee_info.guidemployee as guidemployee
	  FROM request_info
	  left join urgencies on urgencies.id=urgency
	  left join itroles on itroles.idrole=itrole_proc
	  left join statuses on statuses.id=status_proc
	  left join users on users.id=[iduser_proc]
	  left join full_employee_info on (full_employee_info.account=request_info.account)
	  left join [dbo].[PC_composition_info_short] on (PC_composition_info_short.pcname=request_info.pcname)

;
GO
/****** Object:  View [dbo].[request_status_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE view [dbo].[request_status_info]
as
SELECT 'closed' as stat,  DATEADD(day, -28, CURRENT_TIMESTAMP) as dt1, DATEADD(day, -22, CURRENT_TIMESTAMP) as dt2, count(*) stat4,null as statnew from full_request_info where status_proc=5 and dt>=DATEADD(day, -28, CURRENT_TIMESTAMP) and dt<=DATEADD(day, -22, CURRENT_TIMESTAMP)
union all
SELECT 'new' as stat , DATEADD(day, -28, CURRENT_TIMESTAMP) as dt1, DATEADD(day, -22, CURRENT_TIMESTAMP) as dt2, null as stat4, count(*) statnew from full_request_info where dt>=DATEADD(day, -28, CURRENT_TIMESTAMP) and dt<=DATEADD(day, -22, CURRENT_TIMESTAMP)
union all
SELECT 'closed' as stat,  DATEADD(day, -21, CURRENT_TIMESTAMP) as dt1, DATEADD(day, -15, CURRENT_TIMESTAMP) as dt2, count(*) stat4,null as statnew from full_request_info where status_proc=5 and dt>=DATEADD(day, -21, CURRENT_TIMESTAMP) and dt<=DATEADD(day, -15, CURRENT_TIMESTAMP)
union all
SELECT 'new' as stat , DATEADD(day, -21, CURRENT_TIMESTAMP) as dt1, DATEADD(day, -15, CURRENT_TIMESTAMP) as dt2, null as stat4, count(*) statnew from full_request_info where dt>=DATEADD(day, -21, CURRENT_TIMESTAMP) and dt<=DATEADD(day, -15, CURRENT_TIMESTAMP)
union all
SELECT 'closed' as stat,  DATEADD(day, -14, CURRENT_TIMESTAMP) as dt1, DATEADD(day, -8, CURRENT_TIMESTAMP) as dt2, count(*) stat4,null as statnew from full_request_info where status_proc=5 and dt>=DATEADD(day, -14, CURRENT_TIMESTAMP) and dt<=DATEADD(day, -8, CURRENT_TIMESTAMP)
union all
SELECT 'new' as stat , DATEADD(day, -14, CURRENT_TIMESTAMP) as dt1, DATEADD(day, -8, CURRENT_TIMESTAMP) as dt2, null as stat4, count(*) statnew from full_request_info where dt>=DATEADD(day, -14, CURRENT_TIMESTAMP) and dt<=DATEADD(day, -8, CURRENT_TIMESTAMP)
union all
SELECT 'closed' as stat,  DATEADD(day, -7, CURRENT_TIMESTAMP) as dt1, DATEADD(day, 0, CURRENT_TIMESTAMP) as d2, count(*) stat4,null as statnew from full_request_info where status_proc=5 and dt>=DATEADD(day, -7, CURRENT_TIMESTAMP) and dt<=DATEADD(day, 0, CURRENT_TIMESTAMP)
union all
SELECT 'new' as stat , DATEADD(day, -7, CURRENT_TIMESTAMP) as dt1, DATEADD(day, 0, CURRENT_TIMESTAMP) as d2, null as stat4, count(*) statnew from full_request_info where dt>=DATEADD(day, -7, CURRENT_TIMESTAMP) and dt<=DATEADD(day, 0, CURRENT_TIMESTAMP)
;
GO
/****** Object:  View [dbo].[users_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE view [dbo].[users_info]
as
select id, name, blocking, itrole, CASE itrole WHEN 'superadmin' THEN 'Администратор системы' WHEN 'admin' THEN 'Сисадмин' WHEN 'progr' THEN 'Программист' WHEN 'boss' THEN 'Руководитель' ELSE '---' end as itrole_name  from users;
GO
/****** Object:  Table [dbo].[wiki]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wiki](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[iduser] [int] NULL,
	[dt] [datetime] NULL,
	[tags] [nvarchar](150) NULL,
	[theme] [nvarchar](100) NULL,
	[text] [nvarchar](max) NULL,
	[idcategory] [int] NULL,
	[description] [nvarchar](150) NULL,
	[upd_dt] [datetime] NULL,
	[is_published] [int] NULL,
	[countviews] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[wiki_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE view [dbo].[wiki_info]
as
SELECT wiki.[id], wiki.iduser, wiki.dt, wiki.tags, wiki.theme, wiki.text, description,
      idcategory, categories.name as idcategory_name,upd_dt, is_published, countviews

FROM wiki 
left join categories on (categories.id=wiki.idcategory)
;
GO
/****** Object:  View [dbo].[request_proc_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE view [dbo].[request_proc_info]
as
SELECT proc_request.id, [idrequest],[iduser],[dt],[description],[status],users.name as user_name ,
	  statuses.name as status_name
	FROM proc_request 
	left join users on (users.id=iduser)
	left join statuses on statuses.id=status


;
GO
/****** Object:  View [dbo].[request_last_changes]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[request_last_changes]
as
select idrequest, max(dt) as dt from request_proc_info 
group by idrequest 

;
GO
/****** Object:  View [dbo].[full_request_last_changes_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[full_request_last_changes_info]
as
select xx.idrequest, xx.dt, yy.[iduser],yy.[description],yy.[status], yy.status_name, yy.user_name from request_last_changes xx
left join [dbo].request_proc_info yy on (yy.idrequest=xx.idrequest and yy.dt=xx.dt)
;


GO
/****** Object:  Table [dbo].[chat]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guid] [nvarchar](50) NOT NULL,
	[msg] [nvarchar](100) NOT NULL,
	[dt] [datetime] NOT NULL,
	[IsNew] [int] NULL,
	[idrequest] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[chat_last_msg]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[chat_last_msg]
as
select idrequest, max(dt) as dt from chat 
group by idrequest 

;
GO
/****** Object:  View [dbo].[full_chat_last_msg_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[full_chat_last_msg_info]
as
select xx.idrequest, xx.dt, yy.guid,yy.msg,yy.IsNew, users.id as iduser,   users.name as user_name from chat_last_msg xx
left join [dbo].chat yy on (yy.idrequest=xx.idrequest and yy.dt=xx.dt)
left join users on (yy.guid = users.employeeguid)
;


GO
/****** Object:  Table [dbo].[projects]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [ntext] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[urgency] [int] NULL,
	[status_old_fld] [int] NULL,
	[idcategory] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idproject] [int] NOT NULL,
	[idparent] [int] NULL,
	[title] [nvarchar](500) NOT NULL,
	[description_old_fld] [ntext] NULL,
	[status_old_fld] [int] NULL,
	[urgency] [int] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[estimated_hours] [decimal](10, 2) NULL,
	[actual_hours] [decimal](10, 2) NULL,
	[sort_order] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[description] [nchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proc_task]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proc_task](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idtask] [int] NOT NULL,
	[iduser] [int] NULL,
	[dt] [datetime] NOT NULL,
	[description] [nvarchar](1000) NULL,
	[status] [int] NULL,
	[itrole] [nvarchar](30) NULL,
	[IsNew] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[task_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE view [dbo].[task_info]
as
SELECT tasks.[id], [idproject], [idparent], tasks.[title],tasks.[description] as task_description,  
tasks.urgency , urgencies.name as urgency_name, projects.title as project_title,
tasks.start_date as deadline, tasks.[start_date],tasks.[end_date],
projects.idcategory as idcategory, categories.name as idcategory_name,
(select top 1 tt.title from tasks tt where tt.id=tasks.idparent ) title_parent,
(select top 1 iduser from proc_task where proc_task.idtask=tasks.id order by dt desc) iduser_proc, 
(select top 1 users.name from proc_task left join [dbo].users on (proc_task.iduser=users.id) where proc_task.idtask=tasks.id order by dt desc) iduser_proc_name, 
(select top 1 itrole from proc_task where proc_task.idtask=tasks.id order by dt desc) itrole_proc, 
(select top 1 dt from proc_task where proc_task.idtask=tasks.id order by dt desc) dt_proc, 
(select top 1 [description] from proc_task where proc_task.idtask=tasks.id order by dt desc) description_proc , 
(select top 1 [status] from proc_task where proc_task.idtask=tasks.id order by dt desc) status_proc, 
(select top 1 name from proc_task left join [dbo].[statuses] on (proc_task.status=[statuses].id) where proc_task.idtask=tasks.id  order by dt desc) status_proc_name



FROM tasks
left join projects on (projects.id=tasks.idproject)
left join categories on (categories.id=projects.idcategory)
left join [dbo].[urgencies] on (tasks.urgency=[urgencies].id)

;


GO
/****** Object:  View [dbo].[full_task_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE view [dbo].[full_task_info]
as
SELECT  [task_info].[id] as id, title,
		idproject, idparent , task_description     
      ,urgency_name
	  ,urgency
      ,dt_proc as dt
      ,task_info.itrole_proc
      ,[deadline]
      ,users.name as iduser_proc_name
      ,[iduser_proc]
	  ,itroles.name as itrole_proc_name
	  

      ,[idcategory], idcategory_name
      ,[description_proc]	  
	  ,status_proc
	  ,status_proc_name
	  , users.name as name_users,users.itrole as role_users
	  FROM task_info
	  
	  left join itroles on itroles.idrole=itrole_proc
	  
	  left join users on users.id=[iduser_proc]

;
GO
/****** Object:  View [dbo].[kanban_tasks]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















CREATE view [dbo].[kanban_tasks]
as
select 'request' as typeobject, 0 as kanban_status, 'r'+CAST(id AS VARCHAR(10)) as knid,  id, topic as title, dt_proc as dt, description_proc, message as main_description, deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_request_info] where status_proc=1 and deadline >DATEADD(day, 2, CURRENT_TIMESTAMP) and deadline <=DATEADD(day, 7, CURRENT_TIMESTAMP)
union 
select 'task' as typeobject, 0 as kanban_status, 't'+CAST(id AS VARCHAR(10)) as knid,id, title ,dt, description_proc, task_description as main_description, deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_task_info] where status_proc=1 and deadline >DATEADD(day, 2, CURRENT_TIMESTAMP) and deadline <=DATEADD(day, 7, CURRENT_TIMESTAMP)
union
select 'request' as typeobject, 1 as kanban_status , 'r'+CAST(id AS VARCHAR(10)) as knid,id, topic as title, dt_proc as dt, description_proc, message as main_description, deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_request_info] where status_proc=1 and deadline <=DATEADD(day, 2, CURRENT_TIMESTAMP)
union 
select 'task' as typeobject, 1 as kanban_status, 't'+CAST(id AS VARCHAR(10)) as knid,id, title ,dt, description_proc, task_description as main_description, deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_task_info] where status_proc=1 and deadline <=DATEADD(day, 2, CURRENT_TIMESTAMP)
union
select 'request' as typeobject, 2 as kanban_status , 'r'+CAST(id AS VARCHAR(10)) as knid,id, topic as title, dt_proc as dt, description_proc, message as main_description,  deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_request_info] where status_proc=2
union 
select 'task' as typeobject, 2 as kanban_status, 't'+CAST(id AS VARCHAR(10)) as knid,id, title ,dt, description_proc, task_description as main_description, deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_task_info] where status_proc=2 
union
select 'request' as typeobject, 3 as kanban_status , 'r'+CAST(id AS VARCHAR(10)) as knid,id, topic as title, dt_proc as dt, description_proc, message as main_description, deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_request_info] where status_proc=3
union 
select 'task' as typeobject, 3 as kanban_status, 't'+CAST(id AS VARCHAR(10)) as knid,id, title ,dt, description_proc, task_description as main_description, deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_task_info] where status_proc=3
union
select 'request' as typeobject, 4 as kanban_status ,'r'+CAST(id AS VARCHAR(10)) as knid, id, topic as title, dt_proc as dt,description_proc, message as main_description, deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_request_info] where status_proc=4 
union 
select 'task' as typeobject, 4 as kanban_status, 't'+CAST(id AS VARCHAR(10)) as knid,id, title ,dt, description_proc, task_description as main_description, deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_task_info] where status_proc=4 
union
select 'request' as typeobject, 5 as kanban_status , 'r'+CAST(id AS VARCHAR(10)) as knid,id, topic as title, dt_proc as dt,description_proc,  message as main_description, deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_request_info] where status_proc=5 and dt_proc >=DATEADD(day, -2, CURRENT_TIMESTAMP)
union 
select 'task' as typeobject, 5 as kanban_status, 't'+CAST(id AS VARCHAR(10)) as knid,id, title ,dt, description_proc, task_description as main_description,  deadline,idcategory_name,urgency,urgency_name, status_proc,status_proc_name,iduser_proc, itrole_proc from [dbo].[full_task_info] where status_proc=5 and dt >=DATEADD(day, -2, CURRENT_TIMESTAMP)

GO
/****** Object:  View [dbo].[projects_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE view [dbo].[projects_info]
as
select projects.id, projects.title, [description],[start_date],[end_date],[urgency], [urgencies].name as urgency_name,[idcategory],[categories].name as category_name  from projects
left join [dbo].[categories] on ([dbo].[categories].id=idcategory)
left join [dbo].[urgencies] on ([dbo].[urgencies].id=urgency);
GO
/****** Object:  View [dbo].[task_proc_info]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






create view [dbo].[task_proc_info]
as
SELECT proc_task.id, [idtask],[iduser],[dt],[description],[status],users.name as user_name ,
	  statuses.name as status_name
	FROM proc_task
	left join users on (users.id=iduser)
	left join statuses on statuses.id=status


;
GO
/****** Object:  View [dbo].[PC_composition_info_separately]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/****** Object:  View [dbo].[request_proc_info]    Script Date: 10.08.2025 14:16:18 ******/


CREATE view [dbo].[PC_composition_info_separately]
as
select yy.idpc, yy.pcname,
(select top 1 xx.modelname from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='ОЗУ') as RAM,
(select top 1 xx.modelname from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='Процессор') as CPU,
(select top 1 xx.modelname from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='Диски') as HDD,
(select top 1 xx.modelname from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='Видео') as Video,
(select top 1 xx.modelname from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='Сеть') as Net,
(select top 1 xx.modelname from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='ОС') as OS,
(select top 1 xx.fulldescription from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='ОЗУ') as full_RAM,
(select top 1 xx.fulldescription from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='Процессор') as full_CPU,
(select top 1 xx.fulldescription from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='Диски') as full_HDD,
(select top 1 xx.fulldescription from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='Видео') as full_Video,
(select top 1 xx.fulldescription from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='Сеть') as full_Net,
(select top 1 xx.fulldescription from [PC_composition_info] xx where yy.idpc=xx.idpc and xx.typename='ОС') as full_OS

from [PC_composition_info] yy
group by yy.idpc,yy.pcname



GO
/****** Object:  Table [dbo].[domen_names]    Script Date: 24.10.2025 2:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[domen_names](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account] [nvarchar](50) NOT NULL,
	[guidemployee] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [guid_ind_employee]    Script Date: 24.10.2025 2:10:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [guid_ind_employee] ON [dbo].[employees]
(
	[guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [guid_ind_job]    Script Date: 24.10.2025 2:10:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [guid_ind_job] ON [dbo].[jobs]
(
	[guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [guid_ind_subdivision]    Script Date: 24.10.2025 2:10:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [guid_ind_subdivision] ON [dbo].[subdivisions]
(
	[guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((1)) FOR [urgency]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((1)) FOR [status_old_fld]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT ((1)) FOR [status_old_fld]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT ((1)) FOR [urgency]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee_position]  WITH CHECK ADD  CONSTRAINT [FK_Employee] FOREIGN KEY([guidemployee])
REFERENCES [dbo].[employees] ([guid])
GO
ALTER TABLE [dbo].[employee_position] CHECK CONSTRAINT [FK_Employee]
GO
ALTER TABLE [dbo].[employee_position]  WITH CHECK ADD  CONSTRAINT [FK_Jobs] FOREIGN KEY([guidjob])
REFERENCES [dbo].[jobs] ([guid])
GO
ALTER TABLE [dbo].[employee_position] CHECK CONSTRAINT [FK_Jobs]
GO
ALTER TABLE [dbo].[employee_position]  WITH CHECK ADD  CONSTRAINT [FK_Subdivisions] FOREIGN KEY([guidsubdivision])
REFERENCES [dbo].[subdivisions] ([guid])
GO
ALTER TABLE [dbo].[employee_position] CHECK CONSTRAINT [FK_Subdivisions]
GO
ALTER TABLE [dbo].[PC_composition]  WITH CHECK ADD  CONSTRAINT [FK_PC] FOREIGN KEY([idpc])
REFERENCES [dbo].[PC] ([id])
GO
ALTER TABLE [dbo].[PC_composition] CHECK CONSTRAINT [FK_PC]
GO
ALTER TABLE [dbo].[proc_request]  WITH CHECK ADD  CONSTRAINT [FK_Request] FOREIGN KEY([idrequest])
REFERENCES [dbo].[request] ([id])
GO
ALTER TABLE [dbo].[proc_request] CHECK CONSTRAINT [FK_Request]
GO
ALTER TABLE [dbo].[proc_task]  WITH CHECK ADD  CONSTRAINT [FK_Task] FOREIGN KEY([idtask])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[proc_task] CHECK CONSTRAINT [FK_Task]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD FOREIGN KEY([idparent])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD FOREIGN KEY([idproject])
REFERENCES [dbo].[projects] ([id])
GO
USE [master]
GO
